*{
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.mainView {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  color: white;
  display: flex;
  position: fixed;
}

.point{
  height: 3px;
  width: 3px;
  background-color: white;
  position: absolute;
  top: 500px;
  left:500px;
}

.send {
  position: absolute;
  background-color: azure;
  top:30px;
  left:0px;
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}